.attribution {
  font-size: 11px;
  text-align: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.content {
  background-color: white;
  height: 480px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 21px;
  margin: 0 10px 0 10px;
}

p {
  font-size: 15px;
  text-align: center;
  opacity: 50%;
}
